<li>
  <div class="post-title">
    {{#link-to 'post' post.id}}{{post.title}}{{/link-to}}
  </div>
  <div class="post-details">
    <ul>
      <li>{{post.author}}</li>
      <li>{{post.date}}</li>
    </ul>
  </div>
  
</li>
