// *:not(body):not(html) {
//     box-sizing: border-box;
//     border: 1px dashed lightgrey;
// }

body {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
}
.wrapper {
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
}
li a{
  text-decoration: none;
  font-family: $font-stack;
}

.container {
  flex: 1;
}

h1, h2, h3 {
  font-family: $font-stack;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}
