.adminContainer {
  margin: 0 5%;
  width: 90%;
}

.adminPost {
  display: flex;
  flex-flow: column;
  .post-title {
    font-size: 1.5em;
  }
  width: 80%;
  margin: 10px auto;
  img {
    width: 300px;
  }

}
