header {
  background-image: url("https://01.img.society6.com/society6/img/QtOJ1WXo61Ljq8OVCEPowgVMJYk/w_700/artwork/~artwork/s6-0025/a/11061214_7313007/~~/pineapple-pattern-dfw-prints.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    font-size: 6em;
    text-align: center;
    color: $gold-color;
  }

}


.navbar {
  background: white;
  ul {
    height: 50px;
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
  }
  ul::after {
    content: "";
    display: table;
    clear: both;
  }
  li {
    float: left;
    width: 25%;
    height: 30px;
    margin: 10px 0;
    text-align: center;
    font-size: 1.4em;
    a {
    color: $dark-grey;
    }
  }
}
