<h1> Blogginator </h1>

<ul>
  {{#each model.posts as |post|}}
    {{post-tile post=post save="save"}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
