<div class="main-content">
  <ul>
    {{#each model.posts as |post|}}
      {{post-tile post=post save="save" update="update" destroyComment="destroyComment"}}
    {{/each}}
  </ul>
</div>
<div class="sidebar">
  <h3>About Golden Pineapple</h3>
  <p>Golden Pineapple is an interactive blog template. Visit the admin page to create a post, or visit an individual blog post to leave a comment.</p>
  <h3>Archive</h3>
  <ul>
    {{#each model.allPosts as |post|}}
      <li>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
