<h1> Welcome to Super Rentals </h1>

<ul>
  {{#each model as |post|}}
    {{post-tile post=post}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
